---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Leserra's Nursery">
	<main class="m-0 p-0">
		<div class="inline-flex border  w-full border-green-500">
			<h1 class="font-semibold justify-start self-center">Leserra's Nursery</h1>
			<nav class="flex py-5 justify-center w-full border border-red-300">
				
				<ul class=" flex  space-x-5 px-2 border border-sky-300">
					<li>Home</li>
					<li>About</li>
					<li>Products</li>
					<li>Contact</li>
				</ul>
			</nav>
		</div>
	</main>
</Layout>
